body {
    height: 100%;
    width: 100%;
    background-color: #282828;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.heading {
    width: 70%;
    border: 3px solid rgba(92, 255, 255, 0.473);
    padding: 0px;
    margin: auto;
    background-color: rgba(141, 182, 218, 0.3);
}

.mainbox {
    width: 70%;
    height: auto;
    border: 2px solid #000000;
    padding: 50px;
    margin: auto;
    margin-top: 40px;
    background-color: rgba(141, 182, 218, 0.3);
}

#startTime,
#endTime {
    width: 10em;
    height: 2em;
}

#submit {
    width: 10em;
}

h4 {
    font-size: 20px;
    position: relative;
}

.mainbox input[type=text],
input[type=time] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.date {
    margin-top: 10px;
}