body {
    height: 100%;
    width: 99%;
    background-image: url(../image/profilebg.jpg);
    background-position: center;
    background-size: cover;
}

.seat {
    display: block;
    background-image: url("../image/seat-green.png");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 35px;
}

table,
th {
    /*background-color: rgba(rgba(146, 114, 114, 0.822));*/
    background-color: rgba(0, 128, 128, .2);
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

#stage {
    height: 30px;
    background-color: orange;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background-image: url("../image/seat-red.png");
}

.seat-occupy {
    display: block;
    margin: 5px;
    background-image: url("../image/seat-green.png");
    width: 50px;
    height: 50px;
}

.seat-occupy {
    display: none;
}

.seat-occupy:checked+.seat {
    background-image: url("../image/seat-occupied.png");
}

section img {
    float: left;
    top: 0;
    left: 30px;
    height: 320px;
}

.details button {
    float: right;
}

input[type=submit] {
    width: 100%;
    position: relative;
    left: auto;
}

.outertable {
    width: 80%;
}