.seat {
    display: block;
    margin: auto;
    background-image: url("../image/seat-green.png");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 35px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background-image: url("../image/seat-red.png");
}

.seat-occupy {
    display: block;
    margin: 5px;
    background-image: url("../image/seat-green.png");
    width: 50px;
    height: 50px;
}

.seat-occupy {
    display: none;
}

.seat-occupy:checked+.seat {
    background-image: url("../image/seat-occupied.png");
}

.tableseat {
    float: left;
    background-color: white;
}

section.details {
    width: 40%;
    height: 50%;
    background-color: grey;
    height: min-content;
    top: 0;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    border: 1px solid black;
    /* only for demonstration, should be removed */
}

article.calculate {
    width: 40%;
    background-color: grey;
    height: 90px;
    /* only for demonstration, should be removed */
}

#pay {
    float: right;
    width: 10em;
    height: 2em;
}

section img {
    float: left;
    top: 0;
    left: 30px;
    height: 320px;
}

table,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: auto;
}

input[type=submit] {
    width: 100%;
    position: relative;
    left: auto;
}

.submitbtn {
    width: 50px;
    height: 100px;
}

#stage {
    height: 30px;
    background-color: orange;
}

.details td {
    border: 1px solid black;
}

.container {
    content: "";
    width: auto;
    height: max-content;
    padding: 50px;
}