input {
    width: 80%;
    height: 2em;
    font-size: 22px;
    float: left;
}

.top img {
    height: 3em;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #135ba3;
}

.top {
    width: 100%;
    height: 100px;
}

.column {
    width: 50%;
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.topnav {
    position: sticky;
}

.topnav ul {
    padding: 10px;
    background-color: #333;
    position: relative;
    z-index: 2;
}

.topnav li {
    list-style-type: none;
    display: inline;
    margin: 3%;
    z-index: 2;
}

.topnav a {
    z-index: 2;
    color: white;
}

.logout-button {
    color: red;
    position: absolute;
    right: 2em;
    z-index: 1;
    text-decoration: none;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 0.5em;
    width: max-content;
}

.logout-button img {
    padding: auto;
    height: 2em;
    margin: auto;
}

.top::before {
    overflow: hidden;
    content: ' ';
    display: block;
    position: absolute;
    background-image: url("../image/topbg.png");
    background-size: auto;
    top: 0;
    left: 0;
    width: inherit;
    height: 140px;
    opacity: .9;
    z-index: -1;
}

.topnav a:link, a:visited {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.topnav a:hover, a:active {
    background-color: blue;
}

.topnav a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}