body {
    background-color: white;
    background: url("../image/adminbg.jpg");
    background-position: center bottom;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.heading {
    width: inherit;
    border: 3px solid rgba(92, 255, 255, 0.473);
    padding: 0px;
    margin: 20px 30px;
    background-color: rgba(141, 182, 218, 0.3);
}

.mainbox {
    width: 70%;
    height: auto;
    border: 2px solid #000000;
    padding: 50px;
    margin: auto;
    background-color: rgba(141, 182, 218, 0.3);
    border: 3px solid rgba(92, 255, 255, 0.473);
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

th {
    height: 70px;
}

th td {
    padding: 15px;
}

tr:hover {
    background-color: grey;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #353d35;
    color: white;
}

#button {
    font-size: 24px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: .3em;
}

#button:hover {
    background-color: grey;
    color: white;
}

li a:hover {
    background-color: #135ba3;
}

.funcbtn button {
    display: block;
    margin: auto;
}